@import "tailwindcss";

.bg-color {
  background: linear-gradient(
    30deg,
    #de9f17 2%,
    #cf9a15 31%,
    #fff68a 68%,
    #ffcf45 96%
  );
  color: black;
}
.bg-color-border {
  background: linear-gradient(
    90deg,
    #de9f17,
    #fff68a,
    #ffcf45,
    #de9f17
  );
  background-size: 200% 100%;
  animation: gradient-move 3s linear infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}